*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.media{
    display: flex;
    /* align-items: flex-end; */
    margin-left: 0.3vw;

}

.element{
    display: flex;
    /* justify-content: space-between;
    text-align: center; 
    max-width: 100%;
    width: 100vw;
    align-items: center; */
}

.images{
    display: inline-block;
    height: 21vh;
    width: 20 vw;
    margin: 40px 0 40px 17px;
    border: 1px solid skyblue;
}

.movieheading{
    /* text-align: center; */
    margin-left: 1.4vw;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 15px;
    display: block;
    font-weight: bold;    
}

.moviestack{
    position: relative;
    top: 5vh;
}