.main{
    height: 100vh;
    object-fit:contain;
    background-repeat: initial;
    background-size: 100vw 100vh;
    text-align: center;
    margin: auto;
    overflow: hidden;
    flex-direction:column;
    background-repeat: no-repeat;
}
.desc{
    z-index: 100;
    size: 20vh;
    /* color: white; */
}

.bg{
    position: relative;
    top: 14vh;
    height: 40vh;
    width: 67vh;
}
