.main{
    height: 92.5vh;
    object-fit:contain;
    background-repeat: initial;
    background-size: 100vw 100vh;
    text-align: center;
    margin: auto;
    overflow: hidden;
    flex-direction:column;
    background-repeat: no-repeat;
}

.bg{
    margin-top: 100px;
    margin-left: 6  0px;
    height: 40vh;
    width: 67vh;
}

.content{
    /* align-items: left; */
    display: block;
    position: relative;
}

.heading{
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    height: 7.5vh;
    background-color: rgb(8 8 23);
    /* align-items: center; */
    justify-content: space-between;
}
.disney{
    height: 100%;
    padding: 0px;
    margin: 0;
    width: 13vh; 
    z-index: 1;   
}

.btn1 {
    position: relative;
    background-color: white;
    border: 1.5px solid blue;
    color: black;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    padding: 3px 23px 3px 23px;
    display: inline-block;
    font-size: 20px;
    margin: 2vh 0.5vh;
    cursor: pointer;
    left: -40vw;
  }
  
  .btn2 {
    position: relative;
    background-color: black;
    border: 1.5px solid gold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    font-size: 19px;
    margin: 2vh 0.5vh;
    cursor: pointer;
    left: -39vw;
    opacity: 0.7;
  }

  .btn1:hover{
    top: -1px;
    left: -39.8vw;
  }

  .btn2:hover{
    left: -38.8vw;
    top: -1px;
  }

  p{
    text-align: left;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }

  .fav{
    position: relative;
    /* right: 5vw; */
    top: 2vh;
    left: -37vw;
  }

  .fav:hover{
    top: 1.7vh;
    left: -36.8vw;
  }

  .desc{
    display: inline-block;
    position: relative;
    left: -24vw;
    width: 50vw;
    text-align: left;
    font-size: 1.2rem;  
    margin: 10px 10px;
    word-wrap: break-word;
  }

  .btn {
    background: black;
    background-image: -webkit-linear-gradient(top, black, navy blue);
    background-image: -moz-linear-gradient(top, black, navy blue);
    background-image: -ms-linear-gradient(top, black, navy blue);
    background-image: -o-linear-gradient(top, black, navy blue);
    background-image: linear-gradient(to bottom, black, navy blue);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Courier New;
    color:white;
    font-size: 19px;
    margin: 1vh 15px 1vh 8px;
    padding: 8px 13px 6px 16px;
    text-decoration: none;
}




.btn:hover {
    background: grey;
    background-image: -webkit-linear-gradient(top, #1a75ff, rgb(15, 15, 12));
    background-image: -moz-li   near-gradient(top, #1a75ff,  rgb(15, 15, 12));
    background-image: -ms-linear-gradient(top, #1a75ff, rgb(15, 15, 12));
    background-image: -o-linear-gradient(top, #1a75ff, rgb(15, 15, 12));
    background-image: linear-gradient(to bottom, #1a75ff, rgb(15, 15, 12));
    text-decoration: none;
     /* background-color: aliceblue; */

}